*{
    overflow-x: hidden;
}

.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    background-image: url("jump_img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#character{
    width: 50px;
    height: 50px;
    /*background-color: red;*/
    position:relative;
    top: 150px;
}

.cow{
    padding-top: 8px;
    width: 100%;
}

.animatech{
    animation: jump 0.3s linear;
}

@keyframes jump{
    0%{top: 150px;}
    20%{top: 100px;}
    50%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: relative;
    top: 120px;
    left: 500px;
}

.wood{
    width: 20px;
    height: 20px;
}

.animateb{
    animation: block 1s infinite linear;
}

@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}

p,h1{
    text-align: center;
    margin: 10px;
}

.centered-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%; 
    height: auto; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.centered-box p {
    margin-bottom: 30px;
}

@media (max-width: 770px) {
    .game{
        width: 300px;
        height: 200px;
        border: 1px solid black;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#btns  {
    padding: 15px 20px;
    color: #FFBF00;
    background: #eee;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
}

#btns:hover {
    background-color: #022851;
}
  
#btns:active {
    background-color: #022851;
    transform: translateY(1px); 
}
